################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/containerization/FileContentIndex
/.vs
/getting--started--k8s/.vs
